/**
 * @file
 * Subtheme specific CSS.
 */
/* Override Bootstrap Barrio main container styles */
#main {
    padding-left: 0px;
    padding-right: 0px;
}
/* Override Bootstrap Barrio main content styles */
#main {
    margin-top: 0px;
}

/* Override Bootstrap Barrio icons */
a.nav-link--::before {
    background-image: none;
    width: 0px;
}
a.nav-link--user-logout::before {
    background-image: none;
    width: 0px;
}
a.nav-link--contact::before {
    background-image: none;
    width: 0px;
}
/* Override Bootstrap Barrio table styles */
table {
    font-size: inherit;
}
table tr {
    background-color: rgba(0, 0, 0, 0);
}
table.table tr td {
    border-left: none;
    border-right: none;
}

table.table tr th {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    border: none;
}
.page-item.active .page-link {
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > li > a,
.pagination > li > span {
    color: #337ab7;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #23527c;
}

h2 .block-title {
    margin-top: 20px;
}

label {
    font-weight: 700;
}

label[class$="-label"] {
    font-weight: 400;
}

input.form-submit {
    width: auto;
}
section.region-secondary-menu {
    margin-left: 0px;
    margin-right: 0px;
}
/* Remove border from Bootstrap Barrio sidebar block */
.sidebar .block {
    border: none;
    padding-top: 0px;
}

/* Override Bootstrap Barrio sidebar_first styles */
#sidebar_first {
    padding-top: 0px;
    padding-right: 15px;
    margin: 0.6em 0;
}

#sidebar_first .nav-link {
    padding: .5rem 1rem;
}

/* Make drag handle and changed symbol appear correctly */
abbr[data-original-title], abbr[title] {
    margin-left: 10px;
}

.js .field--widget-entity-reference-paragraphs .tabledrag-handle .handle,
.js .field--widget-paragraphs .tabledrag-handle .handle {
    height: 22px;
    width: 20px;
}

#node-dataset-edit-form .card {
    margin-bottom: 20px;
}

.card-body .card-header h2, .card-body h4.label {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

#block-thesource-bootstrap-thesourcemenuandsearch {
  width: 100%;
}

.sidenav, .nav {
  width: 100%;
}
.row > .sidenav {
  padding-left: 0;
  padding-right: 0;
}
.navbar-nav {
  float: left;
}
.corporate-topnav .navbar-light .navbar-nav .dropdown-menu.show > li > a {
  display: block !important;
}
.navbar-light .navbar-nav > li ul.show > a:hover, .navbar-light .navbar-nav > li ul.show > a:focus {
  background-color: #ccc;
  color: #000;
}
.navbar-light .navbar-nav .show.dropdown-menu > li > a {
  background-color: #282e2e;
  color: #62d2ff;
  padding: 10px 10px 10px 15px;
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .show.dropdown-menu > li > a {
    background-color: #5e6a71;
    color: #fff;
  }
}

.navbar-light .navbar-nav .show.dropdown-menu > li > a:hover, .navbar-light .navbar-nav .show.dropdown-menu > li > a:focus {
  background-color: #0B5E90;
  color: #fff;
}

.navbar-light .navbar-nav .show.dropdown-menu > li > a .fa-home {
  position: absolute;
  right: 10px;
  top: 15px;
}

.navbar-light .navbar-nav .show.dropdown-menu > li > a {
  position: relative;
}
.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a {
  background-color: #dddedf;
  display: block !important;
  color: #004677;
}

.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu a.dropdown-item:after {
  content: '\f0da';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a {
    background-color: #dddedf;
    color: #004677;
  }
}

.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a:hover, .corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a:focus {
  background-color: #0B5E90;
  color: #fff;
}
.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu {
  background-color: #5e6a71;
  border-top: 0;
  font-size: 14px;
  left: 0;
  position: absolute;
  right: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu {
    display: block;
    left: auto;
    width: auto;
    margin: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
}


  @media (min-width: 768px) {
  .navbar-light .navbar-nav > li ul.show a:hover, .navbar-light .navbar-nav > li ul.show a:focus {
    background-color: #ccc;
    border-color: transparent;
  }
}


.searchbar {
  float: right;
  margin-top: 7px;
}

.emp-search {
  margin-right: 4px;
}

.navbar-nav > section {
    flex-direction: column;
}

.address-container-inline fieldset {
    display: inline-block;
    margin-right: 1em;
}

.form-group {
    margin-bottom: 15px;
}

details summary {
    display: none;
}

form .card {
    border: none;
}
form .card .card-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    margin-bottom: 5px;
}
form .card .card-header h2 {
    color: #333;
    font-size: 21px;
}
form .card .card-body {
    padding: 0;
}
form label.form-required:after, form h2.form-required:after {
     content: "(Required)";
     width: auto;
     height: auto;
     margin: 0 0.3em;
     color: black;
     font-weight: normal;
     font-size: 16px;
     vertical-align: initial;
     background-image: none;
     display: inline-block;
     line-height: 1;
     color: #333;
}

/* The logo.svg that we have is offset by 6px compared to the png in the template. */
header .logo {
  margin-left: -6px;
}
