/**
 * @file
 * Subtheme specific CSS.
 */
/* Override Bootstrap Barrio main container styles */
#main {
    padding-left: 0px;
    padding-right: 0px;
}
/* Override Bootstrap Barrio main content styles */
#main {
    margin-top: 0px;
}

/* Override Bootstrap Barrio icons */
a.nav-link--::before {
    background-image: none;
    width: 0px;
}
a.nav-link--user-logout::before {
    background-image: none;
    width: 0px;
}
a.nav-link--contact::before {
    background-image: none;
    width: 0px;
}
/* Override Bootstrap Barrio table styles */
table {
    font-size: inherit;
}
table tr {
    background-color: rgba(0, 0, 0, 0);
}
table.table tr td {
    border-left: none;
    border-right: none;
}

table.table tr th {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    border: none;
}
.page-item.active .page-link {
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > li > a,
.pagination > li > span {
    color: #337ab7;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #23527c;
}

h2 .block-title {
    margin-top: 20px;
}

label {
    font-weight: 700;
}

label[class$="-label"] {
    font-weight: 400;
}

input.form-submit {
    width: auto;
}
section.region-secondary-menu {
    margin-left: 0px;
    margin-right: 0px;
}
/* Remove border from Bootstrap Barrio sidebar block */
.sidebar .block {
    border: none;
    padding-top: 0px;
}

/* Override Bootstrap Barrio sidebar_first styles */
#sidebar_first {
    padding-top: 0px;
    padding-right: 15px;
    margin: 0.6em 0;
}

#sidebar_first .nav-link {
    padding: .5rem 1rem;
}

/* Make drag handle and changed symbol appear correctly */
abbr[data-original-title], abbr[title] {
    margin-left: 10px;
}

.js .field--widget-entity-reference-paragraphs .tabledrag-handle .handle,
.js .field--widget-paragraphs .tabledrag-handle .handle {
    height: 22px;
    width: 20px;
}

#node-dataset-edit-form .card {
    margin-bottom: 20px;
}

.card-body .card-header h2, .card-body h4.label {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

#block-thesource-bootstrap-thesourcemenuandsearch {
    width: 100%;
}

.sidenav, .nav {
    width: 100%;
}
.row > .sidenav {
    padding-left: 0;
    padding-right: 0;
}
.navbar-nav {
    float: left;
}
.corporate-topnav .navbar-light .navbar-nav .dropdown-menu.show > li > a {
    display: block !important;
}
.navbar-light .navbar-nav > li ul.show > a:hover, .navbar-light .navbar-nav > li ul.show > a:focus {
    background-color: #ccc;
    color: #000;
}
.navbar-light .navbar-nav .show.dropdown-menu > li > a {
    background-color: #282e2e;
    color: #62d2ff;
    padding: 10px 10px 10px 15px;
}

@media (min-width: 768px) {
    .navbar-light .navbar-nav .show.dropdown-menu > li > a {
        background-color: #5e6a71;
        color: #fff;
    }
}

.navbar-light .navbar-nav .show.dropdown-menu > li > a:hover, .navbar-light .navbar-nav .show.dropdown-menu > li > a:focus {
    background-color: #0B5E90;
    color: #fff;
}

.navbar-light .navbar-nav .show.dropdown-menu > li > a .fa-home {
    position: absolute;
    right: 10px;
    top: 15px;
}

.navbar-light .navbar-nav .show.dropdown-menu > li > a {
    position: relative;
}
.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a {
    background-color: #dddedf;
    display: block !important;
    color: #004677;
}

.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu a:after {
    content: '\f0da';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a {
        background-color: #dddedf;
        color: #004677;
    }
}

.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a:hover, .corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu > li > a:focus {
    background-color: #0B5E90;
    color: #fff;
}
.corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu {
    background-color: #5e6a71;
    border-top: 0;
    font-size: 14px;
    left: 0;
    position: absolute;
    right: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .corporate-topnav .navbar-light .navbar-nav .show.dropdown-menu {
        display: block;
        left: auto;
        width: auto;
        margin: 0;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}


@media (min-width: 768px) {
    .navbar-light .navbar-nav > li ul.show a:hover, .navbar-light .navbar-nav > li ul.show a:focus {
        background-color: #ccc;
        border-color: transparent;
    }
}
.searchbar {
    float: right;
    margin-top: 7px;
}

.emp-search {
    margin-right: 4px;
}

.region-top-header .justify-content-center {
    text-align: left !important;
    justify-content:  left !important;
}
.navbar-nav > section {
    flex-direction: column;
}

.address-container-inline fieldset {
    display: inline-block;
    margin-right: 1em;
}

.form-group {
    margin-bottom: 15px;
}

details summary {
    display: none;
}

form .card {
    border: none;
}
form .card .card-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    margin-bottom: 5px;
}
form .card .card-header h2 {
    color: #333;
    font-size: 21px;
}
form .card .card-body {
    padding: 0;
}
form label.form-required:after, form h2.form-required:after {
    content: "(Required)";
    width: auto;
    height: auto;
    margin: 0 0.3em;
    color: black;
    font-weight: normal;
    font-size: 16px;
    vertical-align: initial;
    background-image: none;
    display: inline-block;
    line-height: 1;
    color: #333;
}

/*  Accordions - based on the styles from the source-template.html file, adapted for use with the lb_tabs accordions. */
.ui-accordion .ui-accordion-header,
.accordion .accordion-item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #127BBF;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: none;
    background-color: white;
    padding: 0px;
    border-radius: 0px;
    font-weight: 300;
}
.ui-accordion .ui-accordion-header {
    margin-bottom: 12px;
}
.accordion .accordion-item {
    margin-bottom: 12px;
}
.ui-accordion .ui-accordion-header span {
    display: none;
}
.accordion .accordion-header .accordion-button {
    padding: 0;
}
.accordion .accordion-header .accordion-button::after {
    background-image: none;
    width: 0;
}
.ui-accordion .ui-accordion-header a,
.accordion .accordion-header a {
    margin-left:0px;
    padding: 10px 15px 10px 40px;
    display: block;
    width: 100%;
    background-image: url(../images/icon_plus_blue.svg);
    color:#127BBF;
    background-repeat: no-repeat;
    background-position: 1% center;
    background-size: 25px 25px;
}
.ui-accordion .ui-accordion-header.ui-accordion-header-active,
.accordion .accordion-header .accordion-button:not(.collapsed) {
    margin-bottom: 0px;
}
.ui-accordion .ui-accordion-header.ui-accordion-header-active a,
.accordion .accordion-header .accordion-button:not(.collapsed) a {
    background-image: url('../images/icon_minus.svg');
    color:#fff;
    background-color: #127BBF;
}
.accordion .accordion-item:not(:first-of-type) {
    border-top: 1px solid #127BBF;
}
.ui-accordion .ui-accordion-header:first-child,
.accordion .accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ui-accordion .ui-accordion-header:last-of-type,
.accordion .accordion-item:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ui-accordion .ui-accordion-header.ui-accordion-header-active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-accordion .ui-accordion-header[id^=accordion-faqs-beta],
.ui-accordion .ui-accordion-header[id^=accordion-roles-and-responsibilities-beta],
.ui-accordion .ui-accordion-header[id^=accordion-revision-history-beta],
.ui-accordion .ui-accordion-header[id^=accordion-lessons-learned-beta] {
    display: none;
}
.ui-accordion .ui-accordion-content {
    margin-bottom: 12px;
    border-color: #127BBF;
    border-radius: 0px;
    font-size: 16px;
}
.ui-accordion .ui-accordion-content a {
    color:#127BBF;
}
.ui-accordion .ui-accordion-content.ui-accordion-content-active:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* Remove Bootstrap Barrio file icons in favor of theSource icons. */
span.file {
    background-image: none;
    padding-left: 0px;
}
/* Override the path to non-existent images path in source.complete.css */
.panel-heading > .panel-title >  .accordion-toggle {
    background-image: url('../images/icon_minus.svg');
    background-repeat: no-repeat;
    background-position: 1% center;
    background-size: 25px 25px;
}
.panel-heading > .panel-title >  .accordion-toggle.collapsed {
    background-image: url('../images/icon_plus_blue.svg');
}