{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables: - $block->subject: Block title. - $content: Block
 * content. - $block->module: Module that generated the block. - $block->delta:
 * An ID for the block, unique within each module. - $block->region: The block
 * region embedding the current block. - $classes: String of classes that can be
 * used to style contextually through CSS. It can be manipulated through the
 * variable $classes_array from preprocess functions. The default values can be
 * one or more of the following: - block: The current template type, i.e.,
 * "theming hook". - block-[module]: The module generating the block. For
 * example, the user module is responsible for handling the default user
 * navigation block. In that case the class would be 'block-user'. -
 * $title_prefix (array): An array containing additional output populated by
 * modules, intended to be displayed in front of the main title tag that appears
 * in the template. - $title_suffix (array): An array containing additional
 * output populated by modules, intended to be displayed after the main title
 * tag that appears in the template.
 *
 * Helper variables: - $classes_array: Array of html class attribute values. It
 * is flattened into a string within the variable $classes. - $block_zebra:
 * Outputs 'odd' and 'even' dependent on each block region. - $zebra: Same
 * output as $block_zebra but independent of any block region. - $block_id:
 * Counter dependent on each block region. - $id: Same output as $block_id but
 * independent of any block region. - $is_front: Flags true when presented in
 * the front page. - $logged_in: Flags true when the current user is a logged-in
 * member. - $is_admin: Flags true when the current user is an administrator. -
 * $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
<!-- == TOP NAVIGATION == -->
<!--stopindex-->
<!--stopindex-->
{%
  set navbar_classes = [
  'navbar',
  'navbar-expand-md',
  theme.settings.navbar_background|replace({ "bg": "navbar" }),
  theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
]
%}
<ul class="navbar-nav">
  <li class="dropdown" data-topnav="organizations"><a class="dropdown-toggle" href="#" id="navbarDropdownOrgs" role="button" data-bs-toggle="dropdown" aria-expanded="false">Organizations </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownOrgs">
      <li><a href="https://thesource.nrel.gov/communications/" class="dropdown-item">Communications</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/director/">Director</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/inclusion/index.html">Diversity, Equity, &amp; Inclusion</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/esh/index.html">Environment, Safety, Health, &amp; Quality</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/general-counsel/">General Counsel</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/hr/">Human Resources</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/its/index.html">Information Technology Services</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/ipo/">Innovation, Partnering, &amp; Outreach</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/internal-audit/" >Internal Audit</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/ipid/index.html" >Institutional Planning, Integration, &amp; Development</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/security/">Lab Protection</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/mcst/index.html">Materials, Chemical &amp; Computational Science</a><li>
      <li><a class="dropdown-item" href="https://sp2013.nrel.gov/sites/ocfo">Office of the CFO</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/ombuds/">Ombuds</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/procurement/index.html">Procurement</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/science-technology/index.html">Science &amp; Technology</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/site-operations/index.html">Site Operations</a></li>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/techtransfer/">Technology Transfer</a></li>
    </ul>
  </li>
  <li class="dropdown" data-topnav="tools"><a class="dropdown-toggle" href="#" id="navbarDropdownTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">Business Tools </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdowTools">
      <li><a class="dropdown-item" href="https://workday.nrel.gov/">Workday</a></li>
      <li><a class="dropdown-item" href="https://travelexpense.nrel.gov">Concur</a></li>
      <li><a class="dropdown-item" href="https://epp.nrel.gov/">Enterprise Project Planning (EPP)</a></li>
      <li><a class="dropdown-item" href="https://visitor.nrel.gov/safeselfservice/">Expected Visitor Notification</a></li>
      <li><a class="dropdown-item" href="https://itserviceportal.nrel.gov">IT Service Portal</a></li>
      <li><a class="dropdown-item" href="https://performancemanager4.successfactors.com/sf/learning?company=nrel&amp;loginMethod=SSO">Learning Gateway</a></li>
      <li><a class="dropdown-item" href="https://nquire.nrel.gov/">NQuIRE</a></li>
      <li><a class="dropdown-item" href="https://pubs.nrel.gov/">NREL Publishing Tracker</a></li>
      <li><a class="dropdown-item" href="https://pricingtool.nrel.gov/">OCFO Pricing Tool (CDW)</a></li>
      <li><a class="dropdown-item" href="https://erp.nrel.gov">Oracle EBS</a></li>
      <li><a class="dropdown-item" href="https://asiq.nrel.gov/">Purchase Requests (ASIQ)</a>
      <li><a class="dropdown-item" href="https://thesource.nrel.gov/institutional-investments/index.html">Request NREL Funding</a></li>
      <li><a class="dropdown-item" href="https://sp2013.nrel.gov/Pages/Home.aspx">ThePOINT</a></li>
      <li><a class="dropdown-item"href="https://thesource.nrel.gov/business-tools/index.html">See All</a></li>
    </ul>
  </li>
  <li class="nav-item"><a href="https://thesource.nrel.gov/src-index/index.html">A-Z Index</a></li>
</ul>

<!--startindex-->
<!-- == END TOP NAVIGATION == -->
