{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables: - $block->subject: Block title. - $content: Block
 * content. - $block->module: Module that generated the block. - $block->delta:
 * An ID for the block, unique within each module. - $block->region: The block
 * region embedding the current block. - $classes: String of classes that can be
 * used to style contextually through CSS. It can be manipulated through the
 * variable $classes_array from preprocess functions. The default values can be
 * one or more of the following: - block: The current template type, i.e.,
 * "theming hook". - block-[module]: The module generating the block. For
 * example, the user module is responsible for handling the default user
 * navigation block. In that case the class would be 'block-user'. -
 * $title_prefix (array): An array containing additional output populated by
 * modules, intended to be displayed in front of the main title tag that appears
 * in the template. - $title_suffix (array): An array containing additional
 * output populated by modules, intended to be displayed after the main title
 * tag that appears in the template.
 *
 * Helper variables: - $classes_array: Array of html class attribute values. It
 * is flattened into a string within the variable $classes. - $block_zebra:
 * Outputs 'odd' and 'even' dependent on each block region. - $zebra: Same
 * output as $block_zebra but independent of any block region. - $block_id:
 * Counter dependent on each block region. - $id: Same output as $block_id but
 * independent of any block region. - $is_front: Flags true when presented in
 * the front page. - $logged_in: Flags true when the current user is a logged-in
 * member. - $is_admin: Flags true when the current user is an administrator. -
 * $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
<!-- == TOP NAVIGATION == -->
<!--stopindex-->
<!--stopindex-->
{%
  set navbar_classes = [
  'navbar',
  'navbar-expand-md',
  theme.settings.navbar_background|replace({ "bg": "navbar" }),
  theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
]
%}
<div id="topnav" class="navbar-wrapper corporate-topnav">
  <nav class="{{ navbar_attributes.addClass(navbar_classes) }}">
    <div class="{{ container }}">

      <ul class="navbar-nav">
        <li class="dropdown nav-item" data-topnav="organizations"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Organizations </a>
          <ul class="dropdown-menu" role="menu">
            <li class="nav-item"><a href="https://thesource.nrel.gov/communications/" class="nav-link">Communications</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/director/" class="nav-link">Director</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/inclusion/index.html" class="nav-link">Diversity, Equity, &amp; Inclusion</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/esh/index.html" class="nav-link">Environment, Safety, Health, &amp; Quality</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/general-counsel/" class="nav-link">General Counsel</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/hr/" class="nav-link">Human Resources</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/its/index.html" class="nav-link">Information Technology Services</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/ipo/" class="nav-link">Innovation, Partnering, &amp; Outreach</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/internal-audit/"  class="nav-link">Internal Audit</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/ipid/index.html"  class="nav-link">Institutional Planning, Integration, &amp; Development</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/security/" class="nav-link">Lab Protection</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/mcst/index.html" class="nav-link">Materials, Chemical &amp; Computational Science</a><li>
            <li class="nav-item"><a href="https://sp2013.nrel.gov/sites/ocfo" class="nav-link">Office of the CFO</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/ombuds/" class="nav-link">Ombuds</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/procurement/index.html" class="nav-link">Procurement</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/science-technology/index.html" class="nav-link">Science &amp; Technology</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/site-operations/index.html" class="nav-link">Site Operations</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/techtransfer/" class="nav-link">Technology Transfer</a></li>
          </ul>
        </li>
        <li class="dropdown nav-item" data-topnav="tools"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Business Tools </a>
          <ul class="dropdown-menu" role="menu">
            <li class="nav-item"><a href="https://workday.nrel.gov/" class="nav-link">Workday</a></li>
            <li class="nav-item"><a href="https://travelexpense.nrel.gov" class="nav-link">Concur</a></li>
            <li class="nav-item"><a href="https://epp.nrel.gov/" class="nav-link">Enterprise Project Planning (EPP)</a></li>
            <li class="nav-item"><a href="https://visitor.nrel.gov/safeselfservice/" class="nav-link">Expected Visitor Notification</a></li>
            <li class="nav-item"><a href="https://itserviceportal.nrel.gov" class="nav-link">IT Service Portal</a></li>
            <li class="nav-item"><a href="https://performancemanager4.successfactors.com/sf/learning?company=nrel&amp;loginMethod=SSO" class="nav-link">Learning Gateway</a></li>
            <li class="nav-item"><a href="https://nquire.nrel.gov/" class="nav-link">NQuIRE</a></li>
            <li class="nav-item"><a href="https://pubs.nrel.gov/" class="nav-link">NREL Publishing Tracker</a></li>
            <li class="nav-item"><a href="https://pricingtool.nrel.gov/" class="nav-link">OCFO Pricing Tool (CDW)</a></li>
            <li class="nav-item"><a href="https://erp.nrel.gov" class="nav-link">Oracle EBS</a></li>
            <li class="nav-item"><a href="https://asiq.nrel.gov/" class="nav-link">Purchase Requests (ASIQ)</a>
            <li class="nav-item"><a href="https://thesource.nrel.gov/institutional-investments/index.html" class="nav-link">Request NREL Funding</a></li>
            <li class="nav-item"><a href="https://sp2013.nrel.gov/Pages/Home.aspx" class="nav-link">ThePOINT</a></li>
            <li class="nav-item"><a href="https://thesource.nrel.gov/business-tools/index.html" class="nav-link">See All</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="https://thesource.nrel.gov/src-index/index.html" class="nav-link">A-Z Index</a></li>
      </ul>

    </div>
  </nav>
</div>
<!--startindex-->
<!-- == END TOP NAVIGATION == -->
