{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables: - $block->subject: Block title. - $content: Block
 * content. - $block->module: Module that generated the block. - $block->delta:
 * An ID for the block, unique within each module. - $block->region: The block
 * region embedding the current block. - $classes: String of classes that can be
 * used to style contextually through CSS. It can be manipulated through the
 * variable $classes_array from preprocess functions. The default values can be
 * one or more of the following: - block: The current template type, i.e.,
 * "theming hook". - block-[module]: The module generating the block. For
 * example, the user module is responsible for handling the default user
 * navigation block. In that case the class would be 'block-user'. -
 * $title_prefix (array): An array containing additional output populated by
 * modules, intended to be displayed in front of the main title tag that appears
 * in the template. - $title_suffix (array): An array containing additional
 * output populated by modules, intended to be displayed after the main title
 * tag that appears in the template.
 *
 * Helper variables: - $classes_array: Array of html class attribute values. It
 * is flattened into a string within the variable $classes. - $block_zebra:
 * Outputs 'odd' and 'even' dependent on each block region. - $zebra: Same
 * output as $block_zebra but independent of any block region. - $block_id:
 * Counter dependent on each block region. - $id: Same output as $block_id but
 * independent of any block region. - $is_front: Flags true when presented in
 * the front page. - $logged_in: Flags true when the current user is a logged-in
 * member. - $is_admin: Flags true when the current user is an administrator. -
 * $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
<!-- == TOP NAVIGATION == -->
<!--stopindex-->
<!--stopindex-->
{%
  set navbar_classes = [
  'navbar',
  'navbar-expand-md',
  theme.settings.navbar_background|replace({ "bg": "navbar" }),
  theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
]
%}
<ul class="navbar-nav">
					<li class="dropdown nav-item" data-topnav="organizations"><a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">Organizations </a>
						<ul class="dropdown-menu" role="menu">
							<li class="nav-item"><a href="/procurement/index.html" class="nav-link">Acquisition Services</a></li>
							<li class="nav-item"><a href="/best/index.html" class="nav-link">Bioenergy Science &amp; Technology</a></li>
							<li class="nav-item"><a href="/communications/" class="nav-link">Communications</a></li>
							<li class="nav-item"><a href="/director/" class="nav-link">Director</a></li>
							<li class="nav-item"><a href="/inclusion/index.html" class="nav-link">Diversity, Equity, &amp; Inclusion</a></li>
							<li class="nav-item"><a href="/esh/index.html" class="nav-link">Environment, Safety, Health, &amp; Quality</a></li>
							<li class="nav-item"><a href="/general-counsel/" class="nav-link">General Counsel</a></li>
							<li class="nav-item"><a href="/government-relations/index.html" class="nav-link">Government Relations</a></li>
							<li class="nav-item"><a href="/hr/" class="nav-link">Human Resources</a></li>
							<li class="nav-item"><a href="/its/index.html" class="nav-link">Information Technology Services</a></li>
							<li class="nav-item"><a href="/ipo/" class="nav-link">Innovation, Partnering, &amp; Outreach</a></li>
							<li class="nav-item"><a href="/internal-audit/" class="nav-link">Internal Audit</a></li>
							<li class="nav-item"><a href="/ipid/index.html" class="nav-link">Institutional Planning, Integration, &amp; Development</a></li>
							<li class="nav-item"><a href="/security/" class="nav-link">Lab Protection</a></li>
							<li class="nav-item"><a href="/mcst/index.html" class="nav-link">Materials, Chemical &amp; Computational Science</a></li>
							<li class="nav-item"><a href="/ocfo/index.html" class="nav-link">Office of the CFO</a></li>
							<li class="nav-item"><a href="/ombuds/" class="nav-link">Ombuds</a></li>
							<li class="nav-item"><a href="/science-technology/index.html" class="nav-link">Science &amp; Technology</a></li>
							<li class="nav-item"><a href="/site-operations/index.html" class="nav-link">Site Operations</a></li>
							<li class="nav-item"><a href="/techtransfer/" class="nav-link">Technology Transfer</a></li>
						</ul>
					</li>
					<li class="dropdown nav-item" data-topnav="tools"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Business Tools </a>
						<ul class="dropdown-menu" role="menu">
							<li class="nav-item"><a href="https://workday.nrel.gov/" class="nav-link">Workday</a></li>
							<li class="nav-item"><a href="https://workspace.nrel.gov/FMInteract/Default.aspx">Workspace</a>
							</li><li class="nav-item"><a href="https://travelexpense.nrel.gov" class="nav-link">Concur</a></li>
							<li class="nav-item"><a href="https://epp.nrel.gov/" class="nav-link">Enterprise Project Planning (EPP)</a></li>
							<li class="nav-item"><a href="https://visitor.nrel.gov/safeselfservice/" class="nav-link">Expected Visitor Notification</a></li>
							<li class="nav-item"><a href="http://nrel.chemicalsafety.com/" class="nav-link">Chemical Approval and Tracking System</a></li>
							<li class="nav-item"><a href="https://itserviceportal.nrel.gov" class="nav-link">IT Service Portal</a></li>
							<li class="nav-item"><a href="https://nquire.nrel.gov/" class="nav-link">NQuIRE</a></li>
							<li class="nav-item"><a href="https://pubs.nrel.gov/" class="nav-link">NREL Publishing Tracker</a></li>
							<li class="nav-item"><a href="https://pricingtool.nrel.gov/" class="nav-link">OCFO Pricing Tool (CDW)</a></li>
							<li class="nav-item"><a href="https://erp.nrel.gov" class="nav-link">Oracle EBS</a></li>
							<li class="nav-item"><a href="https://asiq.nrel.gov/" class="nav-link">Purchase Requests (ASIQ)</a></li>
							<li class="nav-item"><a href="/institutional-investments/index.html" class="nav-link">Request NREL Funding</a></li>
							<li class="nav-item"><a href="https://sp2013.nrel.gov/Pages/Home.aspx" class="nav-link">ThePOINT</a></li>
							<li class="nav-item"><a href="/business-tools/index.html" class="nav-link">See All</a></li>
						</ul>
					</li>
					<li class="nav-item"><a href="/src-index/index.html" class="nav-link">A-Z Index</a></li>
				</ul>
<!--startindex-->
<!-- == END TOP NAVIGATION == -->
